* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App */
.app {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/* Calculator Body */
.calculatorBody {
  width: 20em;
  display: flex;
  flex-direction: column;
}

/* Calculator Buttons Component */
.calcResult {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #dcd4d4;
  padding: 10px;
  height: 5rem;
  font-size: 3rem;
  font-weight: 700;
  color: rgb(18, 15, 15);
}

.calcKeypad {
  justify-content: center;
  align-items: center;
}

/* Individual Calculator Buttons */
.calcBtns {
  font-size: 1.5rem;
  font-weight: 500;
  width: 5rem;
  padding: 15px;
}

.calcBtns:hover {
  cursor: pointer;
}

.calcFunc {
  background-color: #f17b1b;
}

.calcFunc:hover {
  background-color: #dcd4d4;
  color: #f17b1b;
}

.calcZero {
  width: 10rem;
}
