* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 50px;
}

/* Calculator Body */
.calculatorBody {
  width: 25vw;
  display: flex;
  flex-direction: column;
  border: 4px solid #f17b1b;
}

/* Calculator Buttons Component */
.calcResult {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #dcd4d4;
  padding: 10px;
  height: 5rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(18, 15, 15);
}

.calcKeypad {
  justify-content: center;
  align-items: center;
}

/* Individual Calculator Buttons */
.calcBtns {
  font-size: 1.5rem;
  font-weight: 500;
  width: 25%;
  padding: 15px;
}

.calcBtns:hover {
  cursor: pointer;
}

.calcFunc {
  background-color: #f17b1b;
}

.calcFunc:hover {
  background-color: #dcd4d4;
  color: #f17b1b;
}

.calcZero {
  width: 50%;
}

.quotesBody {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px dotted #f17b1b;
  padding: 10px;
}

.quotesCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}

.quoteStatement {
  font-size: larger;
  text-align: center;
  margin: 10px 0;
}

.quoteAuthor {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-style: italic;
}
